.navigation {
   width: 100%;
   background-color: #f8f9fa;
 }
 
 .navbar-nav {
   display: flex;
   justify-content: space-around;
   width: 100%;
 }
 
 .nav-link {
   color: #333;
   font-weight: bold;
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
 }
 
 .nav-link:hover {
   color: #007bff;
 }
 
 .nav-item {
   margin-bottom: 10px;
 }

 .nav-link.active {
   color: #28a745;
   border-bottom: 2px solid #28a745; 
   }
   
  
 